/*todo esto es general, común a todo*/
*{
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
  background-color: #F8F5F1;
  font-family: 'Antic Didone';
  font-size: 1.25rem;
  }
header{
    width:70%;
    margin:auto;
  }
  main{
    width:70%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    }
    p{
      text-align: justify;
      line-height: 1.25;
    }

nav{
    display: flex;
    justify-content: center;
    background-color: #A37966;
  }
  
nav > a {
    color: white;
  padding: 0.7em 1.1em;
  text-decoration: none;
  text-align: center;
  }

nav > a:hover{
    background-color:#6D4C3D ;
  }

.header{
  margin: 1.1em auto;
  padding: 0.55em;
  background-color: #C0AD94;
  border: #9A7F5B dashed;
}

  h1{
  text-align: center;
  }
  h2{
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 5px;
  }
  footer{
    margin-top: 50px;
    margin-bottom: 60px;
  }
  footer > section > p{
    color: #727D71;
    text-align: center;
    font-weight: bold;
  }
  div.top{
    position:fixed;
    bottom:10px;
    right: 10px;
    background-color: rgb(212, 230, 195);
    padding: 10px;
    border-radius: 5px;
    opacity:80%;
    -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 5px 5px 3px 5px rgba(252,213,206,0); 
    box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 5px 5px 3px 5px rgba(252,213,206,0);
}

  div.top > a{
    text-decoration: none;
    color:black;
}


/*a partir de aquí es sobre la página de index*/
aside{
  flex: 30%;
  padding: 1.25em 0.8em;
  margin-top: 1.25em;
  background-color: #EAE1D7;
  height: fit-content;
}

aside > img{
  width: 100%;
}

aside > img > p{
  margin-bottom: 2em;
  padding-bottom: 1em;
  margin-top: 0.05em;
}

aside > button{
  border: #527150 dashed;
  padding: 0.5em;
  border-radius: 0.25em;
}

aside > button > a{
  text-decoration: none;
  color: black;
  margin: 4em auto;
}


#intro{
  flex: 70%;
  padding: 1.25em;

  & article{
    margin: 0.5em auto;
    padding: 0.75em 0;

  & p{
    width: 40vw;
  }
  }
}


.selector > p:not(:first-child){
  text-align: center;
}

.selector > div{
  display: flex;
  justify-content: space-around;
}
.selector > div > button{
  border: #ABC4AB solid;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #E7EEE7;
 &:hover{ background-color: #ABC4AB;}
}

.selector > div > button > a{
  text-decoration: none;
  color: black;
  margin: 4em auto;
}
.intro{
    width: 40vw;
  }


/*aquí empieza la página de biografía(viajes)*/

#viajes img{
  width: 40vw;
}
#viajes h3{
  text-decoration: underline;
  text-align:center;
  background-color: #ABC4AB;
  padding: 0.5em 0;
}

#viajes .escocia{
  padding: 1.25em 0;
}
#viajes .roma{
  padding: 1.25em 0;
}
#viajes > article > section{
  padding: 1em 0;
}

/*aquí empieza la parte del archivo(galería)*/
.galeria {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.2em;
  margin: 1em auto;
}
.fotos{
  flex: 25%;
  max-width: 25%;
  padding: 0 0.2em;
  padding-top: 2em;
  /*margin-top: 2em;*/
}
.fotos h4{
  text-align: center;
 
}
.fotos img{
  margin-top: 0.4em;
  vertical-align: middle;
  width: 100%;
  &:hover{
    transform: scale(1.2);
    transition: .2s ease-in;
  }
}


/*aquí empieza la parte de las localizaciones*/

iframe{
  width: 70vw;
  margin: 1em 0;
}


  


@media screen and (max-width: 800px) {
  
  /*esto es general*/
  main{
    width: 90%;
  }
 
  nav, main{   
    flex-direction: column;
  }
  header{
    width: 100%;
    margin: auto;
  }

  /*a partir de aquí el index*/
  
  aside{
    width: 90vw;
    height: 100vh;
    padding: 0;
  }
  aside > img{
    width: 90vw;
  }
  #intro{
    padding: 1.25em 0;
    max-width: 90vw;
  }
  .intro{
    width: 90vw;
  }
  #intro > article > p{
    width: 90vw;
  }
 
  /*a partir de aquí la biografía*/
  #viajes img{
    width: 90vw;
  }
  /*esto archivo*/
.fotos{
  flex: 50%;
  max-width: 50%;
}
/*aquí localizaciones*/
iframe{
  width: 90vw;
}
  }


/*esto también archivo*/
@media screen and (max-width: 550px) {
  .fotos {
    flex: 100%;
    max-width: 100%;
  }
}
